.App {
  margin: 100px;
  text-align: center;
}

.search-box {
  font-size: 24px;
  margin: 20px 0 5px;
  padding: 10px 14px;
  width: 80%;
}

.attribution {
  color: #777;
  font-size: 12px;
  margin-bottom: 60px;
}

.Emoji {
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.Emoji:hover {
  background-color: #f5f5f5;
}

.Emoji .icon {
  display: block;
}

.Emoji .aliases {
  display: block;
}

.Emoji .alias {
  color: #777;
  display: block;
  font-size: 12px;
}

.Emoji .alias:first-child {
  color: #000;
  font-size: 14px;
}
